.card{
  width: 15rem
}
.card-body:hover{
  background-color: rgb(15, 29, 56);
} 

.searchScreencardDiv{
  width: 10%; 
}
.searchScreencardDiv :hover{ 
  background-color: rgb(15, 29, 56);
  color: aliceblue;
}


