html, body {
  height: 100%;
}

#root {
  height: 100%
}

.editable-label {
  color: rgb(255, 255, 255);
  background-color: inherit;
  border-style: hidden;
  outline: none;
}

.editable-label::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.builder-nav-container, .nav-container {
  height: 40px;
}

.workspace-container, .description-container {
  background-color: rgb(171, 175, 187);
}

.workspace-container {
  padding-bottom: 30px;
}

.question-card {
  background-color: rgb(71, 80, 71);
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.floating-edit-icon {
  background-color: rgba(255, 255, 255, 0.548);
  color: rgba(0, 0, 0, 0.493);
  cursor: pointer;
}
.floating-edit-icon:hover {
  color: rgb(0, 0, 0);
}