html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.editable-label {
  color: rgb(255, 255, 255);
  background-color: inherit;
  border-style: hidden;
  outline: none;
}

.editable-label::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.builder-nav-container,
.nav-container {
  height: 40px;
}

.workspace-container,
.description-container {
  background-color: rgb(171, 175, 187);
}

.workspace-container {
  padding-bottom: 30px;
}

.question-card {
  background-color: rgb(71, 80, 71);
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.floating-edit-icon {
  background-color: rgba(255, 255, 255, 0.425);
  color: rgba(0, 0, 0, 0.61);
  cursor: pointer;
}
.floating-edit-icon:hover {
  background-color: rgba(255, 255, 255, 0.527);
  color: rgb(0, 0, 0);
}

.workspace-screen-height {
  height: 85%;
}

.description-screen-height {
  height: 15%;
}

.results-card {
  background-color: rgb(167, 188, 255);
}

.platform-card:hover {
  background-color: rgb(240, 240, 240);
  border-color: rgb(126, 152, 189) !important;
  cursor: pointer;
}

.quiz-card:hover {
  background-color: rgb(240, 240, 240);
  border-color: rgb(126, 152, 189) !important;
  cursor: pointer;
}

.card-hover:hover {
  background-color: rgb(240, 240, 240);
}

.creator-card-hover:hover {
  background-color: rgb(255, 255, 255);
}

.search-quiz-card:hover {
  background-color: rgb(240, 240, 240);
  border-color: rgb(126, 152, 189) !important;
  cursor: pointer;
}

.addPlatformCardImage {
  margin: auto;
  opacity: 0.3;
}

.addPlatformCardImage:hover {
  opacity: 0.4;
}

.limit-image-height {
  object-fit: cover;
  max-height: 14rem;
}

.limit-height {
  max-height: 10rem;
}

.limit-height-image {
  height: 100%;
}

.carousel-image:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

.header-color {
  background-color: #9fa300;
  color: #9fa300;
}

.accent-color {
  background-color: #9fa300;
}

.btn-delete-question {
  background-color: rgb(59, 0, 0);
}

.builder-btn-hover:hover {
  background-color: rgb(213, 235, 255);
}
